dj-database-url
psycopg2-binary
asgiref
certifi
crispy-bootstrap5
distlib
Django
djangorestframework
django-crispy-forms
django-environ
django-filter
EasyProcess
entrypoint2
filelock
Markdown
MouseInfo
mss
mysql-connector-python
numpy
opencv-contrib-python
Pillow
pip
pipenv
platformdirs
protobuf
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
setuptools
sqlparse
typing_extensions
tzdata
virtualenv